body{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1280px;
    margin: 20px auto;
}
/* Header section */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav > ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 32px;
    display: flex;
    align-items: center;
}
ul li i{
    margin-left: 5px;
    font-size: 17px;
}
li a{
    text-decoration: none;
}
header h1{
    display: flex;
    align-items: center;
}
header h1 img{
    width: 80px;
    height: 35px;
    margin-right: 10px;
}
.header-title{
    font-size: 40px;
    color: #0B0223;
}
.g-red{
    color: #FF42A5;
}
.li-button{
    justify-content: center;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 190px;
    height: 40px;
}
/* goat section */
.goat-section{
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-goat{
    width: 50%;
    text-align: left;
    background: url(../images/Group\ 14.png);
    background-size: 100%;
    padding-left: 130px;
}
.photo-goat img{
    width: 76%;
}
.goat-title{
    color: #0B0223;
    font-size: 40px;
    margin-bottom: 0;
}
.goat-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 20px;
}
.goat-desc{
    color: #534C64;
    font-size: 20px;
}
.btn-sign{
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    padding: 21px 40px;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.btn-go{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    padding: 21px 40px;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}
/* goat section end */

/* We are gamer Section */
.we-gamer{
    display: flex;
}
.we-gamer img{
    width: 50%;
    margin-right: 50px;
}
.we-are-gamer{
    text-align: right;
}
.we-gamer-title{
    margin-bottom: 0;
    font-size: 46px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we-gamer-desc{
    margin-top: 20px;
    margin-bottom: 0;
    color: #534C64;
    font-size: 18px;
}
.gamer-desc{
    margin-top: 20px;
    color: #534C64;
    font-size: 24px;
}
.we-gamer-span{
    color: #534C64;
    font-size: 32px;
}
/* We are gamer Section end */

/* Online Game funny Video */
.online-game-videos{
    margin-top: 100px;
}
.video-games-title{
    margin-bottom: 48px;
    text-align: center;
}
.online-game-pic{
    display: flex;
    margin: auto;
    justify-content: center
}
.online-game-pic-desc{
    padding-left: 3px;
    color: #534C64;
    font-size: 0.9rem;
}
.game-img-section{
    padding-left: 9px;
}
.game-img-section img{
    width: 95%;
}
.online-desc{
    margin-bottom: 48px;
    margin-top: 16px;
    color: #534C64;
    font-size: 16px;
}
.online-games-title{
    margin-bottom: 0;
    color: #0B0223;
    font-size: 40px;
}
.funny-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Online Game funny Video end */


/* Responsive section */
/* Mobile */
@media screen and (max-width:576px) {
    header,
    nav > ul,
    .we-gamer,
    .online-game-pic{
    flex-direction: column;
    }
    nav ul, header{
    align-items: center;
    justify-content: center;
    margin-left: 0;
    }
    nav ul li{
        margin-bottom: 36px;
    }
    .goat-section{
        flex-direction: column-reverse;
    }
    .play-goat, .we-gamer img{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .photo-goat, .we-are-gamer{
        text-align: center;
    }
    .we-are-gamer{
        margin-top: 40px;
    }
    .online-game-videos{
        margin-top: 160px;
    }
}


/* tablet section */
@media screen and (min-width:576px) and (max-width:992px) {
        header, 
        .goat-section,
        .we-gamer{
            flex-direction: column;
        }
        .play-goat, .we-gamer img{
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
        .photo-goat, .we-are-gamer{
            text-align: center;
        }
        .online-game-pic{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
}
