body{
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1280px;
    margin: 20px auto;
}
/* Header section */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav > ul{
    display: flex;
    list-style: none;
}
ul li{
    margin-right: 32px;
    display: flex;
    align-items: center;
}
ul li i{
    margin-left: 5px;
    font-size: 17px;
}
li a{
    text-decoration: none;
}
header h1{
    display: flex;
    align-items: center;
}
header h1 img{
    width: 68px;
    height: 33px;
    margin-right: 10px;
}
.header-title{
    font-size: 30px;
    color: #0B0223;
}
.g-red{
    color: #FF42A5;
}
.li-button{
    justify-content: center;
    font-size: 0.9rem;
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 190px;
    height: 40px;
}
/* goat section */
.goat-section{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-goat{
    width: 50%;
    text-align: left;
    background: url(../images/Group\ 14.png);
    background-size: 100%;
    padding-left: 120px;
}
.photo-goat img{
    width: 80%;
}
.goat-title{
    color: #0B0223;
    font-size: 40px;
    margin-bottom: 0;
}
.goat-name{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 20px;
}
.goat-desc{
    color: #534C64;
    font-size: 20px;
}
.btn-sign{
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    padding: 21px 40px;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.btn-go{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    padding: 21px 40px;
    border: none;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 5px;
}
/* goat section end */

/* We are gamer Section */
.we-gamer{
    display: flex;
}
.we-gamer img{
    width: 50%;
    margin-right: 50px;
}
.we-are-gamer{
    text-align: right;
}
.we-gamer-title{
    margin-bottom: 0;
    font-size: 46px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we-gamer-desc{
    margin-top: 20px;
    margin-bottom: 0;
    color: #534C64;
    font-size: 18px;
}
.gamer-desc{
    margin-top: 20px;
    color: #534C64;
    font-size: 24px;
}
.we-gamer-span{
    color: #534C64;
    font-size: 32px;
}
/* We are gamer Section end */

/* Online Game funny Video */
.online-game-videos{
    margin-top: 100px;
}
.video-games-title{
    margin-bottom: 48px;
    text-align: center;
}
.online-game-pic{
    display: flex;
    margin: auto;
    justify-content: center
}
.online-game-pic-desc{
    margin-top: 0;
    padding-left: 3px;
    color: #534C64;
    font-size: 0.9rem;
}
.game-img-section{
    padding-left: 10px;
}
.pic-watch-now{
    margin: 0;
    position: relative;
    bottom: 190px;
    left: 110px;
    display: none;
}
.game-img-section img{
    margin-bottom: 10px;
    width: 95%;
}
.online-desc{
    margin-bottom: 48px;
    margin-top: 16px;
    color: #534C64;
    font-size: 16px;
}
.online-games-title{
    margin-bottom: 0;
    color: #0B0223;
    font-size: 40px;
}
.funny-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-img-section img:hover{
    border-radius: 16px;
    border: 3px solid #FF42A5;
}
/* Online Game funny Video end */
/* Online-play-no-install Section */

.online-play-no-install{
    margin-top: 110px;
    display: flex;
    align-items: center;
}
.play-no-install{
    text-align: right;
    margin-right: 100px;
    padding-left: 200px;
    margin-bottom: 15%;
}
.no-play-img .img1{
    width: 64%;
    padding-left: 74px;
}
.no-play-img .img2{
    width: 27%;
    border-radius: 8px;
    border: #FFF;
    position: relative;
    bottom: 150px;
}
.install-title{
    font-size: 40px;
}
.install-title-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.install desc{
    color: #534C64;
    font-size: 17px;
}

/* Online-play-no-install Section end */

/* careers Section */
.careers{
    margin-top: 0;
    background-color: #FF42A5;
}
.careers img{
    width: 50%;
}
.careers{
    display: flex;
}
.career-multimedia{
    display: flex;
}
.career-text{
    margin: 50px auto;
    padding-left: 110px;
}
.lisbon{
    text-align: right;
    color:  #FFF;
    font-size: 15px;
}
.career-title{
    color:  #FFF;
    font-size: 36px;
    margin-bottom: 0;
}
.career-desc{
    color:  #FFF;
    font-size: 13px;
}
.multimedia-artist{
    color:  #FFF;
    font-size: 15px;
}
.career-btn{
    margin-top: 30px;
    color: #FF42A5;
    font-size: 18px;
    border-radius: 48px;
    background-color: #FFF;
    padding: 16px 30px;
    border: none;
}
/* careers Section end */
/* Games section Start */
.games{
    margin-top: 110px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.one-game{
    align-items: center;
    border-radius: 50px;
    display: flex;
    margin-right: 25px;
    padding: 12px;
}
.one-game:hover{
    border: 1.5px solid #FF42A5;
}
.one-game p:hover{
    color: #FF42A5;
}
.one-game img{
    margin-right: 12px;
}
.one-game p{
    color: #0B0223;
    font-weight: 600;
}
/* Game Section end */

/* Footer section */
.footers{
    margin: 120px auto;
}
.footers .header-title{
    color: #FFF;
}
.footer-section{
    background-color: #0B0223;;
    display: grid;
    justify-content: center;
    margin-top: 120px;
}
.footer-section .header-title{
    display: flex;
    justify-content: center;
}
.footer-section img{
    margin-right: 5px;
    width: 68px;
    height: 34px;
}
.footer-story-section{
    display: flex;
    justify-content: center;
}
.footer-story-section p{
    margin-right: 50px;
    color: #FFF;
    font-size: 14px;
}
.terms-condition{
    display: flex;
    justify-content: center;
}
.terms-condition p{
    margin-right: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}
.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}
.facebook-youtube-btn{
    display: flex;
    justify-content: center;
    margin: 29px auto;
}
.facebook-youtube-btn i{
    margin-right: 30px;
    width: 45px;
}

/* Footer section end*/

/* Responsive section */
/* Mobile */
@media screen and (max-width:576px) {
    header,
    nav > ul,
    .we-gamer,
    .online-game-pic,
    .online-play-no-install,
    .careers{
    flex-direction: column;
    }
    nav ul, header{
    align-items: center;
    justify-content: center;
    margin-left: 0;
    }
    nav ul li{
        margin-bottom: 36px;
    }
    .li-button{
        width: 100%;
    }
    .goat-section{
        flex-direction: column-reverse;
    }
    .play-goat, .we-gamer img{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .photo-goat, .we-are-gamer{
        text-align: center;
    }
    .we-are-gamer{
        margin-top: 40px;
    }
    .online-game-videos{
        margin-top: 160px;
    }
    .play-no-install{
        text-align: center;
        margin-right: 10px;
        padding-left: 10px;
    }
    .no-play-img{
       padding-left: 20px;
    }
    .career-text{
        padding-left: 30px;
        padding-right: 15px;
    }
    .careers img{
        width: 93%;
        padding-left: 5%;
    }
    .one-game{
        margin-right: 3px;
    }
    .games{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 13px;
    }
    .footer-story-section,
    .facebook-youtube-btn{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 15%;
    }
    .terms-condition{
        display: grid;
        padding-left: 63px;
        grid-template-columns: repeat(2, 1fr);
    }
    .facebook-youtube-btn i{
        margin-bottom: 15px;
    }
}


/* tablet section */
@media screen and (min-width:576px) and (max-width:992px) {
        header, 
        .goat-section,
        .we-gamer,
        .online-play-no-install,
        .careers{
            flex-direction: column;
        }
        .play-goat, .we-gamer img{
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
        .photo-goat, .we-are-gamer{
            text-align: center;
        }
        .online-game-pic{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .play-no-install{
            text-align: center;
            margin-right: 10px;
            padding-left: 10px;
        }
       .no-play-img{
            margin-left: 40px;
        }
        .play-no-install{
            text-align: center;
            margin-right: 10px;
            padding-left: 10px;
        }
        .no-play-img{
            padding-left: 20px;
        }
        .career-text{
            padding-left: 10px;
        }
        .careers img{
            width: 100%;
            padding-left: 10%;
        }
        .games{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-left: 12px;
        }
        .footer-story-section{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-left: 12%;
        }
        .facebook-youtube-btn{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-left: 21%;
        }
        .facebook-youtube-btn i{
            margin-bottom: 15px;
        }
}